@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: s1 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: s1 1s infinite linear;
  }

  @keyframes s1 {
    to {
      transform: rotate(1turn);
    }
  }

  .spinner-3 {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: theme("colors.primary.300");
    --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
    mask: var(--_m);
    mask-composite: subtract;
    animation: s3 1s infinite linear;
  }
  @keyframes s3 {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */
.rdp-root {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  --rdp-selected-border: 2px solid theme("colors.accent.700") !important;
  --rdp-range_middle-color: theme("colors.accent.400") !important;
  --rdp-range_middle-background-color: theme("colors.primary.800") !important;
  margin: 0 !important;
}

/* https://stackoverflow.com/a/20231370/4363111 */
.disabled-date {
  background: url(
    "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M0 99 L99 0 L100 3 L3 100' fill='white' /></svg>");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
  color: rgba(255,255,255, 0.3)
}
